/* CSS goes here */
.flag {
    background-color: rgb(206, 17, 38);
    height: 600px;
    width: 900px;
    position: relative;  
    margin: 0px;
    font-size: 80px;
    text-align: center;
}        

.flag > div {
    background-color: rgb(0, 40, 104);
    height: 300px;
    width: 900px;
    position: absolute;
    top: 150px;
    margin: 0;
}

.flag > div > div {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 350px;
    margin: 0;
}

.flag > div > div > p {
    position: absolute;
    margin: 0px;
}

.flag > p {
    color: white;
    white-space: nowrap;
    margin: 0px;
}